:5001 {
    basic_auth {
        # Username: admin | Password: osamapassdb500
        admin $$2a$$14$$.K6SgHclgV9lHptbOWhFv.kIqGk2yQ3.g/5Y2A7DCH8E/K02SgMvG
    }
    reverse_proxy backend-sqlite-web-1:8080
}

:80 {
    # 1a. Secure /api/docs with Basic Auth
    handle /api/docs* {
        basic_auth {
            # Username: developer | Password: osamapassdoc500
            developer $$2a$$14$$z5E.r7Y277h/QzN88f3Vp.4SleNfWhqI6ZJmQhMvSreSshYgM1p2i
        }
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    # 1b. Secure /docs with Basic Auth
    handle /docs* {
        basic_auth {
            # Username: developer | Password: osamapassdoc500
            developer $$2a$$14$$z5E.r7Y277h/QzN88f3Vp.4SleNfWhqI6ZJmQhMvSreSshYgM1p2i
        }
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    # 2. Forward regular API requests to the backend
    handle /api/* {
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    # 3. Serve uploaded files static directory
    handle /uploads/* {
        root * /app
        file_server
    }

    # 4. Route all other traffic to the frontend container
    handle /* {
        reverse_proxy gighunt-front:80 {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }
}