http://{$CADDY_HOST}:4001 {
    basic_auth {
        admin $2a$14$.K6SgHclgV9lHptbOWhFv.kIqGk2yQ3.g/5Y2A7DCH8E/K02SgMvG
    }
    reverse_proxy backend-sqlite-web-1:8080
}

gighunts.com {
    tls {   
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
    }

    handle /api/docs* {
        basic_auth {
            developer $2a$14$5yc3F6WoCw00vK16gqwiO.S5wMZ.TnFljjZXwHW7V/On8tYU4PSg6
        }
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    handle /docs* {
        basic_auth {
            developer $2a$14$z5E.r7Y277h/QzN88f3Vp.4SleNfWhqI6ZJmQhMvSreSshYgM1p2i
        }
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    handle /api/* {
        reverse_proxy backend-api-1:4050 {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }

    handle /uploads/* {
        root * /app
        file_server
    }

    handle /* {
        reverse_proxy gighunt-front:80 {
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Proto https
        }
    }
}